<ion-header>
  <ion-navbar color="pink">
    <ion-title>Dashboard</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="dashboard">
      <ion-segment-button value="applications">
        {{applicationsCount}} Submitted
      </ion-segment-button>
      <ion-segment-button value="approved">
        {{approvedCount}} Approved
      </ion-segment-button>
      <ion-segment-button value="accepted">
        Accepted
      </ion-segment-button>
    </ion-segment>


</ion-header>

<ion-content>

  <!-- <div class="center-stuff"><h4>Welcome, {{user.firstName}}!</h4></div>

<ion-grid>
  <ion-row>
    <div class="col">
      <button ion-button color="primary" icon-left full [navPush]="applicationsPage">
        <ion-icon name="send"></ion-icon>
        {{applications}} Submitted
      </button>
    </div>
    <div class="col">
      <button ion-button color="secondary" icon-left full [navPush]="offersPage">
        <ion-icon name="md-checkmark-circle-outline"></ion-icon>
        {{approvedCount}} Approved
      </button>
    </div>
  </ion-row>
</ion-grid> -->

<div class="bottom-margin"></div>

  <div [ngSwitch]="dashboard">
    <ion-list *ngSwitchCase="'applications'">
      <ion-item-sliding *ngFor="let application of applications">
        <ion-item>
          <p> <ion-icon name="checkmark-circle" color="secondary"></ion-icon> {{application.status}} on {{application.createdAt | date:'dd/MM/yyyy'}}</p>
          <h3>{{application.streetAddress}} {{application.unitNumber}} {{application.city}}, {{application.state}}</h3>
          <p><ion-icon name="person"></ion-icon> {{application.fullName}} <ion-icon name="mail"></ion-icon> {{application.email}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger">
            <ion-icon name="Delete"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'approved'">
      <ion-item-sliding *ngFor="let offer of approved">
        <ion-item>
          <p> <ion-icon name="checkmark-circle" color="secondary"></ion-icon> {{offer.status}} on {{offer.createdAt | date:'dd/MM/yyyy'}}</p>
          <h3>{{offer.streetAddress}} {{offer.unitNumber}} {{offer.city}}, {{offer.state}}</h3>
          <p><ion-icon name="person"></ion-icon> {{offer.fullName}} <ion-icon name="mail"></ion-icon> {{offer.email}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger">
            <ion-icon name="Delete"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

      <ion-list *ngSwitchCase="'accepted'">
        <p>You have not accepted any offers at the moment.</p>
      </ion-list>
    </div>

<ion-fab right bottom>
 <button ion-fab color="pink" (click)="newApplicationModal()"><ion-icon name="ios-send"></ion-icon></button>
</ion-fab>

</ion-content>
