page-occupants {
.item-add-card {
  display: inline-block;
  font-size: 1.0em;
  float: right;
  color: #c7c6c6;
  font-weight: bold;
  margin-top: 0.85em;
}


.col {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  }
}

.col p {
    
}
